html,
body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    color: white;
    background-color: gray;
}

h1,
h3 {
    color: greenyellow;
}

a,
.labs-style {
    color: aqua;
}

dt,
strong {
    color: blueviolet;
}

.neighbors-class {
    font-family: cursive;
}